@charset "UTF-8";

#AboutMe {
    top: 0;
    left: 0;
    width: 100%;
}

#AboutMe > .toolBar {
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 2;

    transition-duration: 125ms;
    transition-property: background-color;
    transition-timing-function: ease;
}

#AboutMe > .toolBar.visible {
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    border-bottom: 0.0625rem solid #ccc;
    box-shadow: 0 0 0.5rem #828282;
    position: fixed;
    z-index: 2;
}

#AboutMe > .toolBar > .content {
    cursor: pointer;
    padding: 12px;

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 7.5rem;
    justify-content: center;
}

#AboutMe > .toolBar > .content > .deco {
    width: 11rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: hsla(0, 0%, 100%, .7);
    text-align: center;
    text-decoration: none;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition-duration: 125ms;
    transition-property: color;
    transition-timing-function: ease;
}

#AboutMe > .toolBar > .content > .deco:hover {
    color: #FFD94D;
}

#AboutMe > .toolBar.visible > .content > .deco {
    color: #3C3D37;
}

#AboutMe > .toolBar.visible > .content > .deco:hover {
    color: #FFA725;
}

#AboutMe > .intro {
    width: 100%;
    min-height: 620px;
    background-image: url("../../images/intro/intro.img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

#AboutMe > .intro::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(120, 77, 41, 0.6);
    z-index: 0;
    position: absolute;
}

#AboutMe > .intro > .introduction {
    height: 100%;
    color: #f5f5f5;
    font-family: inherit;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    padding-top: 9rem;
    z-index: 2;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
}

#AboutMe > .intro > .profile {
    margin-top: 5.5rem;
    position: relative;
    z-index: 2;

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.85rem;
    justify-content: center;
}

#AboutMe > .intro > .profile > .item-container {
    display: grid;
    gap: 0.625rem;
    grid-template-columns: repeat(3, 1fr);
}

#AboutMe > .intro > .profile > .item-container > .birth {
    background-color: #FFC55A;
}

#AboutMe > .intro > .profile > .item-container > .edu {
    background-color: #80AF81;
}

#AboutMe > .intro > .profile > .item-container > .contact {
    background-color: #7AB2D3;
}

#AboutMe > .intro > .profile > .item-container > .item {
    width: 20.125rem;
    height: 9.125rem;
    color: #f5f5f5;
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 1rem;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
}

#AboutMe > .intro > .profile > .item-container > .item > .title {
    height: 100%;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#AboutMe > .intro > .profile > .item-container > .item > .caption {
    height: 60%;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#AboutMe > .intro > .profile > .item-container > .item > .caption-container {
    height: 50%;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: flex-start;
}

#AboutMe > .intro > .profile > .item-container > .edu > .caption-container > .caption.graduate:not(:first-of-type)::before {
    width: 0.0625rem;
    height: 0.7rem;
    background-color: #ccc;
    content: '';
    display: inline-block;
    margin: 0 0.625rem;
}

#AboutMe > .intro > .profile > .item-container > .birth > .caption {
    height: 100%;
    font-size: 2rem;
    font-weight: 300;
}


#AboutMe > .intro > .profile > .archiving {
    display: grid;
    gap: 0.3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

#AboutMe > .intro > .profile > .archiving > .link > .icon {
    width: 3.5rem;
    height: 3.5rem;
}

#AboutMe > .intro > .profile > .archiving > .link {
    width: 5rem;
    height: 4.4125rem;
    color: #f5f5f6;
    background-color: #373A40;
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.0625rem;


    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.0625rem;
    justify-content: center;

    transition-duration: 125ms;
    transition-property: background-color, transform;
    transition-timing-function: ease;
}

#AboutMe > .intro > .profile > .archiving > .link:hover {
    background-color: #242629;
    box-shadow: 0 0 0.7rem #A0A3A8;
    transform: translate(-2px, -2px) rotateX(-2deg) rotateY(-2deg);
}

#AboutMe > .intro > .profile > .archiving > .link:active {
    filter: brightness(85%);
}


/* @media쿼리 모바일 반응형*/
@media screen and (max-width: 480px){
    #AboutMe > .toolBar > .content {
        padding: 5px;
        gap: 0.25rem;
    }

    #AboutMe > .toolBar > .content > .deco {
        width: 100%;
        height: 1.5rem;
        font-size: 1.125rem;
    }

    #AboutMe > .intro > .introduction {
        font-size: 1.5rem;
        padding-top: 5rem;
    }

    #AboutMe > .intro > .profile > .item-container {
        grid-template-columns: 1fr;
        gap: 0.0625rem;
    }

    #AboutMe > .intro > .profile > .item-container > .item {
        width: 100%;
        height: 80%;
    }

    #AboutMe > .intro > .profile > .archiving {
        grid-template-columns: 1fr;
    }

    #AboutMe > .intro > .profile > .archiving > .link {
        width: 100%;
        height: auto;
    }

    #AboutMe > .intro > .profile > .archiving > .link .icon {
        width: 2rem;
        height: 2rem;
    }
}